{% extends 'base.html.twig' %}

{% block body %}
    <div class="row text-center justify-content-center align-items-center py-5">
        <h1 class="col-7 py-5">
            You wanna talk ?
        </h1>
        <div class="w-100"></div>
        <div class="col-5 text-left">
            {{ form_start(contact_form) }}
            <div class="form-group h5">
                {{ form_label(contact_form.firstname) }} :
                {{ form_widget(contact_form.firstname) }}
            </div>
            <div class="form-group h5">
                {{ form_label(contact_form.lastname) }} :
                {{ form_widget(contact_form.lastname) }}
            </div>
            <div class="form-group h5">
                {{ form_label(contact_form.email) }} :
                {{ form_widget(contact_form.email) }}
            </div>
            <div class="form-group h5">
                {{ form_label(contact_form.subject) }} :
                {{ form_widget(contact_form.subject) }}
            </div>
            <div class="form-group h5 mb-4">
                {{ form_label(contact_form.message) }} :
                {{ form_widget(contact_form.message) }}
            </div>
            <div class="text-center">
                {{ form_widget(contact_form.submit) }}
            </div>
            {{ form_end(contact_form) }}
        </div>
        <div class="col-10 py-5 text-left">
            <a class="text-dark h2" href="{{ path('homepage') }}">< Homepage</a>
        </div>
    </div>
{% endblock %}

